In [2]:
import pandas as pd
import re # re = expressao regulares
import urllib.request

In [7]:
df = pd.read_csv('data.csv')
df

,Date,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),1,35.00,10,0,0,NaN,"Focusing on CHEST, SHOULDERS and TRICEPS",9.0
1,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),2,35.00,9,0,0,NaN,NaN,10.0
2,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),3,35.00,8,0,0,NaN,NaN,10.0
3,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),4,35.00,7,0,0,NaN,NaN,10.0
4,2021-09-13 10:41:41,PUSH 1,1h 12m,Incline Cable Chest Fly,1,12.50,12,0,0,NaN,NaN,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
3984,2024-02-02 17:37:32,PULL 2,30m,Lateral Raise (Dumbbell),4,18.00,3,0,0,NaN,NaN,10.0
3985,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),1,41.25,12,0,0,NaN,NaN,9.5
3986,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),2,41.25,8,0,0,NaN,NaN,10.0
3987,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),3,41.25,5,0,0,NaN,NaN,10.0
3988,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),4,41.25,4,0,0,NaN,NaN,10.0

In [9]:
df_view = df.copy()
df_view

,Date,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),1,35.00,10,0,0,NaN,"Focusing on CHEST, SHOULDERS and TRICEPS",9.0
1,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),2,35.00,9,0,0,NaN,NaN,10.0
2,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),3,35.00,8,0,0,NaN,NaN,10.0
3,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),4,35.00,7,0,0,NaN,NaN,10.0
4,2021-09-13 10:41:41,PUSH 1,1h 12m,Incline Cable Chest Fly,1,12.50,12,0,0,NaN,NaN,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
3984,2024-02-02 17:37:32,PULL 2,30m,Lateral Raise (Dumbbell),4,18.00,3,0,0,NaN,NaN,10.0
3985,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),1,41.25,12,0,0,NaN,NaN,9.5
3986,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),2,41.25,8,0,0,NaN,NaN,10.0
3987,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),3,41.25,5,0,0,NaN,NaN,10.0
3988,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),4,41.25,4,0,0,NaN,NaN,10.0

In [11]:
df_view = df_view.rename(columns={'Date': 'Data', 'Workout Name': 'Nome do Treino', 'Duration': 'DuraÃ§Ã£o', 'Exercise Name': 'Nome do Exercicio', \
                                 'Set Order': 'Sets', 'Weight': 'Peso', 'Reps': 'Repeticoes', 'Distance': 'Distancia', 'Seconds': 'Segundos',  \
                                 'Notes': 'Notas', 'Workout Notes': 'AnotaÃ§Ãµes do Treino'})
df_view

,Data,Nome do Treino,DuraÃ§Ã£o,Nome do Exercicio,Sets,Peso,Repeticoes,Distancia,Segundos,Notas,AnotaÃ§Ãµes do Treino,RPE
0,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),1,35.00,10,0,0,NaN,"Focusing on CHEST, SHOULDERS and TRICEPS",9.0
1,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),2,35.00,9,0,0,NaN,NaN,10.0
2,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),3,35.00,8,0,0,NaN,NaN,10.0
3,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),4,35.00,7,0,0,NaN,NaN,10.0
4,2021-09-13 10:41:41,PUSH 1,1h 12m,Incline Cable Chest Fly,1,12.50,12,0,0,NaN,NaN,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
3984,2024-02-02 17:37:32,PULL 2,30m,Lateral Raise (Dumbbell),4,18.00,3,0,0,NaN,NaN,10.0
3985,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),1,41.25,12,0,0,NaN,NaN,9.5
3986,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),2,41.25,8,0,0,NaN,NaN,10.0
3987,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),3,41.25,5,0,0,NaN,NaN,10.0
3988,2024-02-02 17:37:32,PULL 2,30m,Seated Row (Cable),4,41.25,4,0,0,NaN,NaN,10.0

In [25]:
df_view .value_counts(subset=['Nome do Treino', 'Nome do Exercicio']).to_frame('RPE').reset_index() \
    .sort_values(by=['RPE'], ascending=[True], ignore_index=True)

    Nome do Treino             Nome do Exercicio  RPE
0           LEGS 1              Cycling (Indoor)    1
1           PUSH 2                       Push Up    2
2           PULL 1             Face Pull (Cable)    2
3           LEGS 1    Seated Leg Press (Machine)    3
4           PUSH 3                     Hex Press    3
..             ...                           ...  ...
99          PUSH 2  Incline Chest Fly (Dumbbell)  134
100        PULL 2       Lateral Raise (Dumbbell)  136
101        PULL 2          Bicep Curl (Dumbbell)  205
102        PULL 2             Seated Row (Cable)  208
103        PULL 2           Lat Pulldown (Cable)  243

[104 rows x 3 columns]

In [27]:
df_view .value_counts(subset=['Nome do Treino', 'Nome do Exercicio']).to_frame('RPE').reset_index() \
    .sort_values(by=['RPE'], ascending=[True], ignore_index=True).query('RPE > 100')

    Nome do Treino                 Nome do Exercicio  RPE
95          PUSH 2            Tricep Pushdown (rope)  102
96          PUSH 2  Seated Overhead Press (Dumbbell)  106
97          PUSH 1           Incline Cable Chest Fly  113
98          PUSH 1             Bench Press (Barbell)  120
99          PUSH 2      Incline Chest Fly (Dumbbell)  134
100        PULL 2           Lateral Raise (Dumbbell)  136
101        PULL 2              Bicep Curl (Dumbbell)  205
102        PULL 2                 Seated Row (Cable)  208
103        PULL 2               Lat Pulldown (Cable)  243

In [31]:
df_view.query('RPE >= 1') \
    .groupby(by=['Nome do Treino', 'Nome do Exercicio', 'Sets']) \
    .agg({'RPE': ['min', 'max', 'mean']}).reset_index()

    Nome do Treino                 Nome do Exercicio Sets   RPE        \
                                                            min   max
0        Full Body  Bent Over One Arm Row (Dumbbell)    1   9.5   9.5
1        Full Body  Bent Over One Arm Row (Dumbbell)    2  10.0  10.0
2        Full Body          Bent Over Row (Dumbbell)    2   7.5   7.5
3        Full Body          Bent Over Row (Dumbbell)    3  10.0  10.0
4        Full Body          Bent Over Row (Dumbbell)    4  10.0  10.0
..             ...                               ...  ...   ...   ...
333     Upper Body                Seated Row (Cable)    2  10.0  10.0
334     Upper Body                   Squat (Barbell)    1  10.0  10.0
335     Upper Body            Tricep Pushdown (rope)    1   9.5  10.0
336     Upper Body            Tricep Pushdown (rope)    2  10.0  10.0
337     Upper Body            Tricep Pushdown (rope)    3  10.0  10.0


          mean
0     9.500000
1    10.000000
2     7.500000
3    10.000000
4    10.000000
..         ...
333  10.000000
334  10.000000
335   9.541667
336  10.000000
337  10.000000

[338 rows x 6 columns]

In [37]:
df_view.query('RPE >= 1').groupby(by= ['Nome do Treino', 'Nome do Exercicio', 'Sets']).agg({'RPE' : ['min','max','mean']}).round(2).reset_index()

    Nome do Treino                 Nome do Exercicio Sets   RPE
                                                            min   max   mean
0        Full Body  Bent Over One Arm Row (Dumbbell)    1   9.5   9.5   9.50
1        Full Body  Bent Over One Arm Row (Dumbbell)    2  10.0  10.0  10.00
2        Full Body          Bent Over Row (Dumbbell)    2   7.5   7.5   7.50
3        Full Body          Bent Over Row (Dumbbell)    3  10.0  10.0  10.00
4        Full Body          Bent Over Row (Dumbbell)    4  10.0  10.0  10.00
..             ...                               ...  ...   ...   ...    ...
333     Upper Body                Seated Row (Cable)    2  10.0  10.0  10.00
334     Upper Body                   Squat (Barbell)    1  10.0  10.0  10.00
335     Upper Body            Tricep Pushdown (rope)    1   9.5  10.0   9.54
336     Upper Body            Tricep Pushdown (rope)    2  10.0  10.0  10.00
337     Upper Body            Tricep Pushdown (rope)    3  10.0  10.0  10.00

[338 rows x 6 columns]

In [39]:
list(
    zip(
        df_view.columns.tolist(),
        map(lambda dtype: dtype.name, df.dtypes.tolist())
    )
)

[('Data', 'object'),
 ('Nome do Treino', 'object'),
 ('DuraÃ§Ã£o', 'object'),
 ('Nome do Exercicio', 'object'),
 ('Sets', 'int64'),
 ('Peso', 'float64'),
 ('Repeticoes', 'int64'),
 ('Distancia', 'int64'),
 ('Segundos', 'int64'),
 ('Notas', 'object'),
 ('AnotaÃ§Ãµes do Treino', 'object'),
 ('RPE', 'float64')]